
.cart
  min-height: 40vh

  .deleteItem
    cursor: pointer

.cartTotal
  display: flex
  flex-direction: row
  justify-content: space-between
  p
    font-weight: bold

.checkoutButton
  background-color: $secondary-color
  border: none
  padding: 1em
  text-transform: uppercase

  a
    color: $bg-color
    text-decoration: none

  &:hover
    background-color: lighten($secondary-color, 10%)
