@import "variables"
@import "productmodule"
@import "product"
@import "header"
@import "store"
@import "footer"
@import "cart"



*
  font:
    family: $primary-font
    size: $font-size

a
  color: $primary-color

h2
  font-size: 2em
  font-family: $secondary-font
  text-align: center

h3
  font-size: 1.5em
  font-family: $secondary-font
  margin-bottom: .5em

button
  background-color: $secondary-color
  color: $bg-color
  border: none
  padding: 1em
  text-transform: uppercase

  &:hover
    background-color: lighten($secondary-color, 10%)

figure
  margin: 0

.container
  max-width: 1000px
  margin: 0 auto

.noProducts
  min-height: 50vh

.lowStock
  color: $low-stock

.noStock
  color: $no-stock

@media screen and (max-width: $breakpoint-very-large)
  .container
    width: 95%

@media screen and (max-width: $breakpoint-large)
  *
    font-size: 14px
