@import "variables"
@import "header"
@import "store"

*
  font:
    family: $primary-font
    size: $font-size

a
  color: $primary-color

button
  background-color: $bg-color
  border: 2px solid $primary-color

.container
  max-width: 1000px
  margin: 0 auto
