
.product
  margin: 0

  a
    text-decoration: none

    &:hover
      color: $secondary-color

  img
    max-width: 100%

  h4
    margin-bottom: 0

  .price
    margin-top: 0

  .lowStock
    color: $low-stock

  .noStock
    color: $no-stock
