
<form class="checkout" ng-submit="createOrder(data)">

  <h4>Customer Information</h4>
  <div class="customerInfo">
    <div class="billingAddress">
      <div class="customerEmail">
        <label for="email">Email<span class="required">*</span></label>
        <div>
          <input type="email" id="email" ng-model="data.email" placeholder="Email">
        </div>
      </div>
      <div ng-repeat="field in fields" ng-if="field.slug != 'save_as' && field.slug != 'customer'">
        <label for="bill_{{field.slug}}">{{field.name}}<span class="required" ng-if="field.required">*</span></label>
        <div ng-switch on="field.type">
          <select name="bill_{{ field.slug }}" class="form-control" ng-options="k as v for (k, v) in field.available" ng-model="data.bill[field.slug]" ng-switch-when="country"></select>
          <input type="text" id="bill_{{field.slug}}" ng-model="data.bill[field.slug]" placeholder="{{field.name}}" ng-switch-default>
        </div>
      </div>
    </div>
    <div class="shippingAddress">
      <div class="shiptobilling">
        <label>
          <input type="checkbox" value="1" ng-model="data.ship_bill" onclick="jQuery('.shipping-address').toggle()">
          Ship to Billing Address?
        </label>
      </div>
      <div class="shipping-address">
        <div ng-repeat="field in fields" ng-if="field.slug != 'save_as' && field.slug != 'customer'">
          <label for="ship_{{field.slug}}">{{field.name}}<span class="required" ng-if="field.required">*</span></label>
          <div ng-switch on="field.type">
            <select name="ship_{{ field.slug }}" class="form-control" ng-options="k as v for (k, v) in field.available" ng-model="data.ship[field.slug]" ng-switch-when="country"></select>
            <input type="text" id="ship_{{field.slug}}" ng-model="data.ship[field.slug]" placeholder="{{field.name}}" ng-switch-default>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gateways">
    <h4>Payment Methods</h4>
    <div class="gateway" ng-repeat="gateway in gateways">
      <input type="radio" id="{{gateway.name}}" value="{{gateway.slug}}" name="gateway" ng-model="data.gateway">
      <label for="{{gateway.name}}">{{gateway.description}} <span>({{gateway.name}})</span></label>
    </div>
  </div>

  <div class="shipping">
    <h4>Shipping Methods</h4>
    <div class="shippingMethod" ng-repeat="method in shipping">
      <input type="radio" id="{{method.slug}}" value="{{method.slug}}" name="shipping" ng-model="data.shipping">
      <label for="{{method.slug}}">{{method.title}} <span>({{method.description}} - {{method.company}})</span></label>
    </div>
  </div>

  <div class="order">
    <table>
      <thead>
        <tr>

          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price pr. item</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in car.contents">
          <td><a ng-href="#/product/{{item.id}}">{{item.name}}</a></td>
          <td>{{item.quantity}}</td>
          <td>£{{item.price}}</td>
          <td>{{item.totals.pre_discount.formatted.with_tax}}</td>
        </tr>
      </tbody>
    </table>
    <div class="cartTotal">
      <p>{{car.total_items}} items in the cart</p>
      <p>Total Price: {{car.totals.pre_discount.formatted.with_tax}}</p>
    </div>
  </div>

  <button class="submitCustomer" type="submit">Proceed</button>

</form>
