
<div class="jumbo">
  <div class="jumbo-text">
    <span>25% off</span>
    Everything

  </div>
</div>

<div class="categories row">
  <div ng-repeat="category in categories" class="col col--1-of-5">
    <a ng-href="#/category/{{category.id}}">{{category.title}}</a>
  </div>
</div>



<h2>Featured</h2>
<div class="featured row">
    <product ng-repeat="product in allProducts" ng-if="product.collection.value == 'Featured'" class="col col--1-of-4"></product>
</div>

<h2>Selected Brands</h2>
<div class="brands row">
  <figure ng-repeat="brand in brands" ng-if="brand.images.length > 0" class="col col--1-of-3">
    <a ng-href="#/brand/{{brand.id}}"><img src="{{brand.images[0].url.https}}" alt="{{brand.title}}"></a>
  </figure>
</div>
